{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "yml",
          "python",
          "shell",
          "cpp",
          "cs",
          "c",
          "docker",
          "dart",
          "git",
          "plsql",
          "json",
          "scss",
          "sql",
          "ts",
          "xml"
        ]
      }
    ]
  ]
}