// Store all the font classes

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-jetbrains-mono {
    font-family: 'JetBrains Mono', monospace;
}